.truncate {
	background: #f4eddf; /* Цвет фона */
	padding: 10px; /* Поля вокруг текста */
	white-space: nowrap; /* Текст не переносится */
	overflow: hidden; /* Обрезаем всё за пределами блока */
	text-overflow: ellipsis; /* Добавляем многоточие */
}
.wrapper {
	border: 1px solid black;
	padding: 5px;
	margin: 10px auto;
	border-radius: 10px;
	background-color: beige;
	text-align: center;
}
