.container {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}

.errorMessage {
	color: red;
	margin-bottom: 5px;
}

.app {
	margin-top: 20px;
}

.app input {
	margin-left: 5px;
	margin-bottom: 10px;
}

.app button {
	margin-left: 5px;
	border: 0;
	background-color: aquamarine;
}
form {
	display: flex;
	flex-direction: column;
	padding: 15px;
	border: 1px solid black;
	border-radius: 10px;
}

.buttonGroup {
	display: flex;
	justify-content: space-between;
}
